[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DRDID"]
	path = DRDID
	url = https://github.com/pedrohcgs/drdid
[submodule "pstest"]
	path = pstest
	url = https://github.com/pedrohcgs/pstest
[submodule "staggered"]
	path = staggered
	url = https://github.com/cran/staggered
